* {
	box-sizing: border-box;

}

html, body {
	height:100%;
	width:100%;
	margin:0;
}

body {
	background:#00b8fc;
	font-family: 'Roboto', sans-serif;
	z-index:1;
}

#container {
	margin: 0px auto;
}

.phone {
	text-align:center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);

}

.goto {
	color:rgba(255,255,255,0.5);
	font-size:20px;
	font-weight:600;
	margin-bottom:5px;
}

.watchmytech {
	color:#ececec;
	font-size:30px;
	margin-bottom:30px;
}

.eye {
	margin-bottom:30px;
}

.eye img {
	max-width:60%;
}

.webstream-container {
	position:absolute;
	left:0;
	right:0;
	top:0;
}

#webstream {
	width:100%;
/*	z-index:99;*/
}

button.getcode {
	background:transparent;
	border:0px none transparent;
	color:rgba(255,255,255,0.5);
	font-size:18px;
	font-weight:600;
}

#sessionField {
	color:#ececec;
	font-size:45px;
}

.action {
	text-align:center;
	position:absolute;
	top:50%;
	display:none;
}

.action button {
	background:transparent;
    border: 2px solid #fff;
    border-radius: 25px;
    color: #fff;
    font-size: 14px;
    padding: 15px;
}

.action form input {
	background:transparent;
    border: 2px solid #fff;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    padding: 15px;
    margin-top:30px;
    width:80%;
    text-align: center;

}

::-webkit-input-placeholder {
    color:rgba(255,255,255,0.6);
    text-align:center;

}
:-moz-placeholder {
    color:rgba(255,255,255,0.6);
    text-align:center;
}
::-moz-placeholder {
    color:rgba(255,255,255,0.6);
    text-align:center;
}
:-ms-input-placeholder {
    color:rgba(255,255,255,0.6);
    text-align:center;
}

.action form input[type="submit"] {
	background:#fff;
    border-radius: 25px;
    color: #00b8fc;
    font-size: 16px;
    padding: 15px;
    width:30%;
}